absl-py==1.0.0
altair==4.2.0
apparmor==3.0.4
appdirs==1.4.4
application-utility==1.3.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
backcall==0.2.0
bleach==4.1.0
blinker==1.4
blis==0.7.7
btrfsutil==5.16.2
CacheControl==0.12.6
cachetools==5.0.0
catalogue==2.0.7
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.4
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
cupshelpers==1.0
cycler==0.11.0
cymem==2.0.6
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
distro==1.7.0
dnspython==2.2.0
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
Flask==2.1.1
flatbuffers==2.0
fonttools==4.31.2
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.2.0/fr_core_news_md-3.2.0-py3-none-any.whl
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.6.0
html5lib==1.1
httpie==2.6.0
idna==3.3
importlib-metadata==4.8.1
ipykernel==6.9.1
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.8.0
Keras-Preprocessing==1.1.2
keyutils==0.6
kiwisolver==1.4.2
langcodes==3.3.0
LibAppArmor==3.0.4
libclang==13.0.0
libtorrent===2.0.5-build-libtorrent-rasterbar-src-libtorrent-rasterbar-2.0.5-bindings-python
lit==13.0.1.dev0
louis==3.21.0
lxml==4.8.0
manjaro-sdk==0.1
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
more-itertools==8.10.0
msgpack==1.0.3
murmurhash==1.0.6
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
neo4j==4.4.2
nest-asyncio==1.5.4
netsnmp-python==1.0a1
nltk==3.7
notebook==6.4.8
npyscreen==4.10.5
numpy==1.22.2
oauthlib==3.2.0
opencv-python==4.5.5.64
openpyxl==3.0.9
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.23.2
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
pathy==0.6.1
patsy==0.5.2
pep517==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
plotly==5.7.0
plotly-express==0.4.1
ply==3.11
preshed==3.0.6
progress==1.6
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.20.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pycurl==7.45.0
pydantic==1.8.2
pydeck==0.7.1
Pygments==2.11.2
PyGObject==3.42.0
pymongo==4.1.0
Pympler==1.0.1
pyOpenSSL==21.0.0
pyparsing==3.0.1
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyrsistent==0.18.1
PySide6==6.2.3
pysmbc==1.0.23
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
rados==2.0.0
rbd==2.0.0
regex==2022.3.15
reportlab==3.6.6
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
rsa==4.8
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
shiboken6==6.2.3
six==1.16.0
smart-open==5.2.1
smmap==5.0.0
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
SpeechRecognition==3.8.1
srsly==2.4.2
stack-data==0.2.0
statsmodels==0.13.2
streamlit==1.8.1
systemd-python==234
team==1.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.13.2
testpath==0.6.0
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.0.15
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.0
toolz==0.11.2
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typer==0.4.1
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
udiskie==2.4.2
urllib3==1.26.8
validators==0.18.2
wasabi==0.9.1
watchdog==2.1.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.0
widgetsnbextension==3.5.2
wordcloud==1.8.1
wrapt==1.14.0
zipp==3.7.0
